body{margin:0;font-family:Segoe UI;}
.theme-dark{background:#000;color:#fff;}
.theme-light{background:#fff;color:#000;}
.navbar{display:flex;justify-content:space-between;padding:20px;background:#111;}
.logo{height:50px;}
.typewriter-hero{text-align:center;padding:100px 20px;border-bottom:1px solid #c6a70055;}
.tebex-frame{width:100%;height:2000px;border:none;}
